table.table tbody tr td:not(:first-of-type):not(:last-of-type) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

tr.isBreak {
    background-color: rgb(230, 230, 230);
    &:hover {
        background-color: rgb(207, 207, 207);
    }
}

tr.isLaunchBreak {
    background-color: rgb(189, 189, 189);
    &:hover {
        background-color: rgb(172, 171, 171);
    }
}