<GridLayout rows="auto, auto, auto, auto, auto" class="m-x-10">

    <ActivityIndicator row="0" [busy]="true" *ngIf="!userdata && !group"></ActivityIndicator>

    <GridLayout rows="auto, auto" row="0" *ngIf="userdata || group">
        <GridLayout columns="*, *" row="0" class="mb-5 text-center" *ngIf="edit">
            <ng-container *ngIf="saving">
                <ActivityIndicator col="0" [busy]="true"></ActivityIndicator>
                <Label col="1" text="Wird gespeichert..."></Label>
            </ng-container>

            <Label *ngIf="!saving" col="0" colspan="2">
                    <FormattedString>
                        <Span text="check" class="fas"></Span>
                        <Span text="Erfolgreich gespeichert!"></Span>
                    </FormattedString>
                </Label>
        </GridLayout>
        <GridLayout row="1" class="schedule" [class.editMode]="edit" [class.small]="small" [rows]="getGridLayoutRows()" [columns]="getGridLayoutColumns()">
            <Label row="0" col="0" [text]='small ? "" : group && group.name ? group.name : ""'></Label>
            <Label *ngFor="let day of days; index as index" row="0" [col]="index + 1" [text]="day.nameShort"></Label>

            <Label [row]="rowIndex + 1" *ngFor="let row of getRows(); index as rowIndex" col="0" [text]='small ? row[0].nameShort : row[0].name'></Label>
            <Button text="" *ngFor="let period of mobilePeriodCache" [class]="period.class" [row]="period.row" [col]="period.col" (tap)="selectMobile(period)"></Button>
        </GridLayout>
    </GridLayout>
</GridLayout>