table.table tbody tr td:not(:first-of-type):not(:last-of-type) {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.small {
    td {
        padding: 0.1rem;
        text-align: center;
    }
}

$free:#55efc4;
$lesson: #ffeaa7;
$break: rgb(230, 230, 230);
td {
    &.free {
        background-color: $free;
    }
    &.lesson {
        background-color: $lesson;
    }
}

tr.isBreak {
    background-color: $break;
}

.editMode {
    td {
        cursor: pointer;
    }
    tr.isBreak {
        &:hover {
            background-color: darken($break, 10)
        }
    }
    tr.isLaunchBreak {
        &:hover {
            background-color: darken($break, 30);
        }
    }
    tr:hover {
        td.free {
            background-color: darken($free, 20);
        }
        td.lesson {
            background-color: darken($lesson, 20);
        }
    }
    tr.isBreak,
    tr.isLaunchBreak {
        &:hover {
            td.free {
                background-color: darken($free, 30);
            }
            td.lesson {
                background-color: darken($lesson, 30);
            }
        }
    }
}

tr.isLaunchBreak {
    background-color: darken($break, 20);
}

tr.isBreak,
tr.isLaunchBreak {
    td.free {
        background-color: darken($free, 10);
    }
    td.lesson {
        background-color: darken($lesson, 10);
    }
}