<div class="text-center" *ngIf="!userdata">
    <div class="spinner-border text-primary"></div>
</div>

<div *ngIf="userdata">
    <div class="mb-5 text-center" *ngIf="edit">
        <ng-container *ngIf="saving">
            <div class="spinner-border spinner-border-sm text-success mr-2"></div>
            <span class="text-success">Wird gespeichert...</span>
        </ng-container>

        <ng-container *ngIf="!saving">
            <i class="fas fa-tick"></i>
            <span class="text-success">Erfolgreich gespeichert!</span>
        </ng-container>
    </div>

    <table class="table table-hover" [class.editMode]="edit" [class.small]="small">
        <thead>
            <tr>
                <th>{{small ? "" : "Mein Stundenplan"}}</th>
                <th *ngFor="let day of days">{{small ? day.nameShort : day.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of getRows()" [class.isBreak]="isBreak(row)" [class.isLaunchBreak]="isLaunchBreak(row)">
                <td>{{small ? row[0].nameShort : row[0].name}}</td>
                <td *ngFor="let period of row" [class]="isFree(period) ? 'free' : 'lesson'" (click)="select(period)" [class.selected]="selectedDay == period.dayId && selectedPeriod == period.id"></td>
            </tr>
        </tbody>
    </table>


    <div *ngIf="selectedDay && selectedPeriod">
        <div *ngIf="!usersToShow || usersToShow.length === 0" class="alert alert-info text-center">
            Keine Personen haben dort eine Freistunde!
        </div>
        <div *ngIf="usersToShow && usersToShow.length > 0">
            <button class="btn btn-outline-primary" (click)="showSchedules = !showSchedules">{{showSchedules ? "Stundenpläne verbergen" : "Stundenpläne anzeigen"}}</button>

            <div class="alert alert-success mt-3">
                <b>Information</b><br>
                <i class="fas fa-exclamation-triangle mr-2 text-warning"></i><i class="fas fa-bed text-warning"></i> bedeutet, dass diese Person <b>vor</b> der ausgewählten Freistunde noch keinen Unterricht hat, <i class="fas fa-exclamation-triangle mr-2 text-warning"></i>
                <i class="fas fa-utensils text-warning"></i> bedeutet, dass diese Person <b>nach</b> der ausgewählten Freistunde keinen Unterricht mehr hat.
            </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-4">
                <div class="col mb-4" *ngFor="let user of usersToShow">
                    <div class="card p-3">
                        <h6 class="text-center mb-2">
                            <div *ngIf="user.noPreviousPeriods" class="text-warning float-left">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                <i class="fas fa-bed"></i>
                            </div>
                            <div *ngIf="user.noFollowingPeriods" class="text-warning float-left">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                <i class="fas fa-utensils"></i>
                            </div>
                            {{ user.username }}</h6>
                        <app-schedule *ngIf="showSchedules" [userdata]="user.data" [small]="true"></app-schedule>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>