@import "../../variables.scss";
.names {
    color: rgb(121, 121, 121);
}

.title {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.selected {
    background-color: lighten($primary, 40);
}