@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~ngx-toastr/toastr-bs4-alert';
html {
    overflow-y: auto !important;
    overflow-x: hidden;
}

.pointer {
    cursor: pointer;
}

[role="main"] {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ngb-modal-backdrop {
    z-index: 1400 !important;
}

ngb-modal-window {
    z-index: 1500 !important;
}