<button id="editBtn" type="button" (click)="openEditModal(editUserModal)" class="btn btn-outline-primary">
    {{'users.changeOwnProfile' | translate}}
</button>
<br /><br />
<div class="card-deck">
    <div class="card" *ngFor="let user of users">
        <app-schedule [userdata]="user.data"></app-schedule>
        <p>{{ user.username }}</p>
    </div>
</div>

<ng-template #editUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'users.changeOwnProfile' | translate}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            {{'errors.requiredFieldsMissing' | translate}}
        </div>
        <form [formGroup]="editUserForm">
            <div class="form-group">
                <label for="name">{{'general.username' | translate}}: </label>
                <input type="text" class="form-control" id="name" formControlName="editUserName" [placeholder]="'general.username' | translate" />
            </div>
            <br />
            <div class="form-group">
                <label for="email">{{'general.email' | translate}}: </label>
                <input type="email" class="form-control" id="email" formControlName="editUserEmail" [placeholder]="'general.username' | translate" />
            </div>
            <br />
            <div class="form-group">
                <label for="password">{{'users.oldPassword' | translate}}: </label>
                <input type="password" class="form-control" id="password" formControlName="editUserPasswordOld" [placeholder]="'users.oldPassword' | translate" />
            </div>
            <div class="alert alert-info">
                {{'users.changesPasswordInfo' | translate}}
            </div>
            <br />
            <div class="form-group">
                <label for="password1">{{'login.inputNewPassword' | translate}}: </label>
                <input type="password" class="form-control" id="password1" formControlName="editUserPassword1" [placeholder]="'login.inputNewPassword' | translate" />
            </div>
            <br />
            <div class="form-group">
                <label for="password2">{{'login.repeatNewPassword' | translate}}: </label>
                <input type="password" class="form-control" id="password2" formControlName="editUserPassword2" [placeholder]="'login.repeatNewPassword' | translate" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="
                !editUserForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            ">
            {{'general.update' | translate}}
        </button>
    </div>
</ng-template>