<button type="button" (click)="openEditModal(editUserModal)" class="float-right btn btn-outline-primary">
    {{'users.changeOwnProfile' | translate}}
</button>
<button type="button" (click)="sendCompleteProfileMail()" [disabled]="sendingMail ? 'disabled' : null" *ngIf="authenticationService.currentUser.isAdmin" class="mr-2 float-right btn btn-outline-primary">
    {{'users.sendCompleteProfileMail' | translate}}
    <i class="fas fa-spinner fa-spin ml-2" *ngIf="sendingMail"></i>
</button>

<div class="input-group w-50">
    <input class="form-control" [(ngModel)]="searchTerm" [placeholder]="'general.search' | translate">
    <div class="input-group-append" *ngIf="searchTerm !== ''">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTerm = ''"><i class="fas fa-times"></i></button>
    </div>
</div>

<div class="text-center mt-5">
    <div class="spinner-border text-primary" *ngIf="!users || users.length == 0"></div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-4">
    <div class="col" *ngFor="let user of searchUsers()">
        <div class="card mb-4 p-3">
            <h6 class="text-center mb-0" [class.text-warning]="user.isAdmin && authenticationService.currentUser.isAdmin">
                <i *ngIf="user.isAdmin && authenticationService.currentUser.isAdmin" class="fas fa-user-shield"></i> {{ user.username }}
                <button class="btn text-warning p-0 float-right mr-2" *ngIf="authenticationService.currentUser.isAdmin" (click)="changeAdminStatus(user, !user.isAdmin)"><i [class]="'fas fa-user' + (user.isAdmin ? '' : '-shield')"></i></button>
                <button class="btn text-danger p-0 float-right" *ngIf="authenticationService.currentUser.isAdmin" (click)="deleteUser(user)"><i class="fas fa-trash"></i></button>
            </h6>
            <span class="text-center" *ngIf="authenticationService.currentUser.isAdmin">{{user.email}}</span>
            <app-schedule class="mt-2" [userdata]="user.data" [small]="true"></app-schedule>
        </div>
    </div>
</div>

<ng-template #editUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'users.changeOwnProfile' | translate}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="invalidMessage" class="alert alert-danger">
            {{'errors.requiredFieldsMissing' | translate}}
        </div>
        <form [formGroup]="editUserForm">
            <div class="form-group">
                <label for="name">{{'general.username' | translate}}: </label>
                <input type="text" class="form-control" id="name" ngbAutofocus formControlName="editUserName" [placeholder]="'general.username' | translate" />
            </div>
            <br />
            <div class="form-group">
                <label for="email">{{'general.email' | translate}}: </label>
                <input type="email" class="form-control" id="email" formControlName="editUserEmail" [placeholder]="'general.username' | translate" />
            </div>
            <br />
            <div class="form-group">
                <label for="password">{{'users.oldPassword' | translate}}: </label>
                <input type="password" class="form-control" id="password" formControlName="editUserPasswordOld" [placeholder]="'users.oldPassword' | translate" />
            </div>
            <div class="alert alert-info">
                {{'users.changesPasswordInfo' | translate}}
            </div>
            <br />
            <div class="form-group">
                <label for="password1">{{'login.inputNewPassword' | translate}}: </label>
                <input type="password" class="form-control" id="password1" formControlName="editUserPassword1" [placeholder]="'login.inputNewPassword' | translate" />
            </div>
            <br />
            <div class="form-group">
                <label for="password2">{{'login.repeatNewPassword' | translate}}: </label>
                <input type="password" class="form-control" id="password2" formControlName="editUserPassword2" [placeholder]="'login.repeatNewPassword' | translate" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="
                !editUserForm.invalid
                    ? modal.close('Save click')
                    : (invalidMessage = true)
            ">
            {{'general.update' | translate}}
        </button>
    </div>
</ng-template>