@import "../../variables.scss";
span,
Span {
    &.free {
        background-color: $free;
    }
    &.lesson {
        background-color: $lesson;
    }
    &.free,
    &.lesson {
        padding: 2px;
    }
}