<navbar [title]="title" [modal]="true" (modalBack)="back()"></navbar>

<app-schedule class="mt-2" *ngIf="user" [userdata]="user.data" [nonInteractive]="true"></app-schedule>

<ng-container *ngIf="selectedDay && selectedPeriod">
    <Label *ngIf="!usersToShow || usersToShow.length === 0" class="info" text="Keine Personen haben dort eine Freistunde!"></Label>
    <GridLayout rows="auto, *" *ngIf="usersToShow && usersToShow.length > 0">        
        <Label row="0" class="info" textWrap="true">
            <FormattedString>
                <Span text="Information"></Span>
                <Span text="&#xf071; &#xf236;" class="fas"></Span>
                <Span text=" bedeutet, dass diese Person "></Span>
                <Span text="vor"></Span>
                <Span text=" der ausgewählten Freistunde noch keinen Unterricht hat, "></Span>
                <Span text="&#xf071; &#xf2e7;" class="fas"></Span>
                <Span text=" bedeutet, dass diese Person "></Span>
                <Span text="nach"></Span>
                <Span text=" der ausgewählten Freistunde keinen Unterricht mehr hat."></Span>
            </FormattedString>
        </Label>
        
        <ListView row="1" [items]="usersToShow" class="list-group" (itemTap)="usersToShow[$event.index].selected = !usersToShow[$event.index].selected">
            <ng-template let-user="item">
                <GridLayout row="2" rows="auto, auto" columns="auto, *">
                    <Label row="0" col="0" class="fas" *ngIf="user.noPreviousPeriods || user.noFollowingPeriods" [text]="'&#xf071; ' + (user.noPreviousPeriods ? '&#xf236;' : '&#xf2e7;')"></Label>
                    <Label [text]="user.username" row="0" col="1"></Label>
                    <app-schedule *ngIf="user.selected" row="1" col="0" colspan="2" [selectedDay]="selectedDay" [selectedPeriod]="selectedPeriod" [userdata]="user.data" [nonInteractive]="true"></app-schedule>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</ng-container>