@import "../../variables.scss";
.page {
    align-items: center;
    flex-direction: column;
}

.login-form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
    width: 80%;
}

.top-img {
    margin-bottom: 12;
    height: 150;
}

.header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: $primary;
}

.nt-input {
    margin-bottom: 25;
}

.btn-primary {
    height: 50;
    margin: 30 5 15 5;
    background-color: $primary;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
}

.login-label {
    horizontal-align: center;
    color: #A8A8A8;
    font-size: 16;
}

.sign-up-label {
    margin-bottom: 20;
}

.bold {
    color: #3a3a3a;
}